@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.pic {
	border-radius: 15px;
}

.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.shift {
	margin-left: 20px;
}

/*navbar*/
.navbar {
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Ubuntu', 'sans-serif;';
	transition: all 0.3s ease;
	background: #6ca965;
}

.navbar.sticky {
	padding: 15px 0;
	background: #6ca965;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
}

.top_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.vid1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 2%;
	width: 68%;
	padding: 15px;
	background: #787c7f;
	border-radius: 20px;
	text-align: center;
}

.information {
	font-family: 'Poppins', sans-serif;
	position: relative;
	text-align: justify;
	color: #00274c;
	width: 27%;
	right: 2%;
}

.two_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.twos {
	position: relative;
	left: 2%;
	background: #c8b653;
	width: 48%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.guess_hist2 {
	top: 70px;
	left: 1%;
	position: relative;
	width: 15%;
}

.bits2 {
	top: 70px;
	left: 0%;
	position: relative;
	width: 10.5%;
}

.pos2 {
	top: 70px;
	right: 1%;
	position: relative;
	width: 10.2%;
}

.chance2 {
	top: 70px;
	right: 2%;
	position: relative;
	width: 10.6%;
}

.three_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;	
}

.threes {
	position: relative;
	left: 2%;
	background: #6ca965;
	width: 48%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.threes_2 {
	top: 50px;
	position: relative;
	right: 2%;
	width: 47%;
}

.fours {
	position: relative;
	left: 2%;
	background: #787c7f;
	width: 48%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.fives {
	position: relative;
	left: 2%;
	background: #c8b653;
	width: 48%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

@media (max-width: 1000px){
	.information {
		padding: 15px;
	}

	.fives, .fours, .threes_2, .threes, .twos, .guess_hist2, .bits2, .pos2, .chance2, .vid1, .information {
		flex: 100%;
		left: 0%;
		right: 0%;
		margin-bottom: 70px;
	}

	.top_info {
		top: 80px;
	}
	.navbar .logo a{
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}
	.navbar .menu li a{
		font-size: 12px;
	}
	.text {
		font-size: 18px;
	}
}